.body {
    padding: 10px;
}

#new_post {
    border: solid gray 1px;
    padding: 20px;
    margin-bottom: 10px;
}

.post {
    margin-bottom: 15px;
}

.heart {
    background-color: transparent;
    border: none !important;
    outline: none !important;
    font-size: 250%;
    color: grey;
}

.red_heart {
    color: red;
}