{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h2>Following</h2>

    {% for post in posts %}
        <div class="card post">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h5><a href="/profile/{{post.user}}">{{post.user}}</a></h5>
                        <p>{{post.post}}</p>
                        <p>{{post.created}}</p>
                        <button class="heart" onclick="like(this, '{{ user }}', '{{ post.id }}')"" id="{{post.user}}{{post.id}}">&hearts;</button>
                        <span>{{post.likes.count}}</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            </span>
    
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/like.js' %}"></script>
{% endblock %}