{% extends "network/layout.html" %}

{% block body %}
    <h2>All Posts</h2>
    <div id="new_post">
        <h5>New Post</h5>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control" name="post" rows="2"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Post">
        </form>
    </div>

    {% for post in posts %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h5>{{post.user}}</h5>
                    <p>{{post.post}}</p>
                    <p>{{post.created}}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endfor %}
{% endblock %}