{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h2>All Posts</h2>
    {% if user.is_authenticated %}
        <div id="new_post">
            <h5>New Post</h5>
            <form action="{% url 'index' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" name="post" rows="2"></textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Post">
            </form>
        </div>
    {% endif %}

    {% for post in posts %}
        <div class="card post">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h5><a href="/profile/{{post.user}}">{{post.user}}</a></h5>
                        {% if post.user == user %}
                            <a href="javascript:void(0);" onclick="edit('{{ post.id }}')">Edit</a>
                            <form action="{% url 'index' %}" method="post" id="form{{post.id}}" hidden>
                                {% csrf_token %}
                                <div class="form-group">
                                    <textarea class="form-control" id="textarea{{post.id}}">{{post.post}}</textarea>
                                </div>
                                <input class="btn btn-primary" onclick="saveEdit('{{ post.id }}', '')" type="button" value="Save">
                            </form>
                        {% endif %}
                        <p id="post{{post.id}}">{{post.post}}</p>
                        <p>{{post.created}}</p>
                        <button class="heart" onclick="clicked(this)" id="{{post.user}}{{post.id}}">&hearts;</button>
                        <span>{{post.likes}}</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            </span>
    
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/likes.js' %}"></script>
    <script src="{% static 'network/edit.js' %}"></script>
{% endblock %}