{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h2>{{ username }}</h2> 
    
    {% if user.is_authenticated %}
        {% if not request_user %}
            {% if following %}
            <form action="{% url 'profile' username %}" method="post">
                {% csrf_token %}
                <input class="btn btn-secondary btn-sm" type="submit" name="action" value="Unfollow">
            </form>  
            {% else %}
                <form action="{% url 'profile' username %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary btn-sm" type="submit" name="action" value="Follow">
                </form>
            {% endif %}
        {% endif %}
    {% endif %}

    <div><span>Followers: {{ followers_count }}</span> 
    <div><span>Following: {{ following_count }}</span> 

    {% for post in user_posts %}
        <div class="card post">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h5><a href="/profile/{{post.user}}">{{post.user}}</a></h5>
                        <p>{{post.post}}</p>
                        <p>{{post.created}}</p>
                        <span>{{post.likes}} Likes</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}

{% endblock %}