{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h2>{{ user.username }}</h2>

    {% if user.profile.followers == "" %}
        <div><span>Followers: 0</span>  
    {% else %}
        <div><span>Followers: {{ user.profile.followers }}</span> 
    {% endif %}
    {% if user.profile.following == "" %}
        <div><span>Following: 0</span>
    {% else %}
        <div><span>Following: {{ user.profile.following }}</span> 
    {% endif %}

    {% for post in user_posts %}
        <div class="card post">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h5><a href="/profile/{{post.user}}">{{post.user}}</a></h5>
                        <p>{{post.post}}</p>
                        <p>{{post.created}}</p>
                        <span>{{post.likes}} Likes</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}

{% endblock %}