{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h2>{{ username }}</h2> 
    
    {% if user.is_authenticated %}
        {% if not request_user %}
            {% if following %}
            <form action="{% url 'profile' username %}" method="post">
                {% csrf_token %}
                <input class="btn btn-secondary btn-sm" type="submit" name="action" value="Unfollow">
            </form>  
            {% else %}
                <form action="{% url 'profile' username %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary btn-sm" type="submit" name="action" value="Follow">
                </form>
            {% endif %}
        {% endif %}
    {% endif %}

    <div><span>Followers: {{ followers_count }}</span> 
    <div><span>Following: {{ following_count }}</span> 

    {% for post in user_posts %}
        <div class="card post">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h5><a href="/profile/{{post.user}}">{{post.user}}</a></h5>
                        {% if post.user == user %}
                            <a href="javascript:void(0);" onclick="editProfile('{{ post.id }}')">Edit</a>
                            <form action="{% url 'index' %}" method="post" id="profileForm{{post.id}}" hidden>
                                {% csrf_token %}
                                <div class="form-group">
                                    <textarea class="form-control" id="profileTextarea{{post.id}}">{{post.post}}</textarea>
                                </div>
                                <input class="btn btn-primary" onclick="saveEdit('{{ post.id }}', 'profile')" type="button" value="Save">
                            </form>
                        {% endif %}
                        <p id="profilePost{{post.id}}">{{post.post}}</p>
                        <p>{{post.created}}</p>
                        <button class="heart" onclick="clicked(this)" id="{{post.user}}{{post.id}}">&hearts;</button>
                        <span>{{post.likes}}</span>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if user_posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ user_posts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ user_posts.number }} of {{ user_posts.paginator.num_pages }}
            </span>
    
            {% if user_posts.has_next %}
                <a href="?page={{ user_posts.next_page_number }}">next</a>
                <a href="?page={{ user_posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/likes.js' %}"></script>
    <script src="{% static 'network/edit.js' %}"></script>
{% endblock %}