body {
    padding: 10px;
}

.index_img {
    width:100%; /* you can use % */
    height: auto;
}

.listing_img {
    width: 400px;
    height: auto;
}

.title {
    font-weight: bold;
}

.price{
    font-weight: bold;
}

.details {
    font-size: 12px;
}

.comment_details {
    font-size: 10px;
}

.counter {
    display: inline;
    background-color: gray;
    color: white;
    border: solid gray 1px;
    margin-left: 2px;
    font-size: 15px;
}
