body {
    padding: 10px;
}

.index_img {
    width:300px; /* you can use % */
    height: auto;
}

.listing_img {
    width: 400px;
    height: auto;
}

.title {
    font-weight: bold;
}

.price{
    font-weight: bold;
}

.details {
    font-size: 12px;
}
