{% extends "auctions/layout.html" %}

{% block body %}

<h2>Listing: {{ listing.id }}</h2>

<div>
    {% if user.is_authenticated %}
    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-secondary btn-sm">Add to Watchlist</button>
    </form>
        
    {% else %}
    {% endif %}
</div>
<br>
<div>
    {% if listing.url %}
    <img class="listing_img" src={{listing.url}} alt="listing">
    {% else %}
        <p>No image</p>
    {% endif %}
</div>
<br>
<div>
    <p>{{listing.description}}</p>
    <h3><p class="price">${{listing.starting_bid|floatformat:2}}</p></h3>
    <p class="created">Created: {{listing.created}}</p>
</div>

{% endblock %}