{% extends "auctions/layout.html" %}

{% block body %}

<h2>Listing: {{ listing.title }}</h2>

<div>
    {% if user.is_authenticated %}
        {% if watchlisted %}
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                <input class="btn btn-secondary btn-sm" type="submit" name="action" value="Remove from Watchlist">
            </form>  
        {% else %}
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                <input class="btn btn-secondary btn-sm" type="submit" name="action" value="Watchlist">
            </form>
        {% endif %}
    {% else %}
    {% endif %}
</div>
<br>
<div>
    {% if listing.url %}
    <img class="listing_img" src={{listing.url}} alt="listing">
    {% else %}
        <p>No image</p>
    {% endif %}
</div>
<br>
<div>
    <p>{{listing.description}}</p>
    <h3><p class="price">${{listing.starting_bid|floatformat:2}}</p></h3>
</div>

{% if user.is_authenticated %}
    <p>{{ bids_count }} bid(s) so far. {{ current_bid }}</p>
    {% if listed_by %}
        {% if listing.active %}
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" name="action" value="Close">
            </form>
        {% else %}
            <p>You closed the bidding</p>
        {% endif %}
    {% else %}
        {% if listing.active %}
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="number" step="0.01" min="0.01" name="bid" placeholder="Bid" required>
                </div>
                <input class="btn btn-primary" type="submit" name="action" value="Place Bid">
            </form>
        {% else %}
            <p>Bidding is closed.</p>
        {% endif %}
    {% endif %}
{% endif %}

<br>
<h5>Details</h5>
<ul>
    <li><p class="details">Listed by: {{listing.listed_by}}</p></li>
    {% if listing.category %}
        <li><p class="details">Category: {{listing.category}}</p></li>
    {% else %}
        <li><p class="details">Category: No Category Listed</p></li>
    {% endif %}
</ul>

{% if user.is_authenticated %}
    <h5>Comments</h5>
    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="test" name="comment" placeholder="Leave a comment" required>
        </div>
        <input class="btn btn-info btn-sm" type="submit" name="action" value="Post Comment">
    </form>
    <br>
    {% for comment in comments %}
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <p>{{comment.comment}}</p>
                        <p class="comment_details">{{comment.user}} on {{comment.created}}</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
{% endif %}

{% endblock %}