{% extends "auctions/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}
        {% for listing in watchlisted %}
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <a href="{% url 'listing' listing.id %}">{{ listing }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    {% endif %}

{% endblock %}