{% extends "budget/layout.html" %}
{% load static %}

{% block body %}
    <h2 class="centered">Edit {{expense_name}} <span id="edit_date">{{date}}</span></h2>

    {% if expenses %}
        {% for expense in expenses %}
            <div class="card" id="card{{expense.id}}">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <span id="expense{{expense.id}}">$ {{ expense.amount }}</span> &nbsp&nbsp
                            <a href="javascript:void(0);" onclick="editExpense('{{ expense.id }}')">Edit</a>
                            <form id="form{{expense.id}}" hidden>
                                {% csrf_token %}
                                <div class="form-group">
                                    <input class="form-control" id="input{{expense.id}}" type="number" step="0.01" min="0.01" name="fun_expense" value="{{expense.amount}}" required>
                                </div>
                                <input class="btn btn-primary" onclick="saveExpense('{{ expense.id }}', '{{expense_name}}')" type="button" value="Save">
                            </form>
                            <a href="javascript:void(0);" onclick="deleteExpense('{{ expense.id }}', '{{expense_name}}')">Delete</a>
                        </div>
                        <div class="col-3">
                            {{ expense.created }}
                        </div>
                    </div>
                </div>
            </div>
            <br id="br{{expense.id}}">
        {% endfor %}
    {% else %}
        <h4>No expenses</h4>
    {% endif %}

    <input
        class="btn btn-primary"
        onclick="history.back();"
        type="submit"
        value="Back"
    />

{% endblock %}

{% block script %}
    <script src="{% static 'budget/edit.js' %}"></script>
{% endblock %}