{% extends "budget/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
    <h2 id="local_date" style="text-align: center;"></h2>
    <br>
        <form id="date_form_day">
            <div>Date: <input type="text" id="date_picker_day" onchange="getDateDay()">&nbsp<input class="btn btn-primary btn-sm" id="day_go" type="submit" onclick="changeDate()" value="Go" disabled>&nbsp<input class="btn btn-secondary btn-sm" onclick="resetAndReload()" type="submit" value="Clear"></div>
        </form>
        <br>
        <form id="date_form_interval">
            <div>Start: <input type="text" id="date_picker_start" onchange="getDateRange()">&nbsp
            End: <input type="text" id="date_picker_end" onchange="getDateRange()">&nbsp<input class="btn btn-primary btn-sm" id="interval_go" type="submit" onclick="useDateRange()" value="Go" disabled>&nbsp<input class="btn btn-secondary btn-sm" onclick="resetAndReload()" type="submit" value="Clear"></div>
        </form>
    {% endif %}
    <br>
    <h5 class="centered">
        <input class="btn btn-info btn-sm" onclick="refresh()" type="submit" value="Refresh"> &nbsp
        <a href="{% url 'edit' 'food' %}" id="food_edit">Food</a>: <span id="food_stats"></span>  &nbsp&nbsp  
        <a href="{% url 'edit' 'bills' %}" id="bills_edit">Bills</a>: <span id="bills_stats"></span>  &nbsp&nbsp  
        <a href="{% url 'edit' 'transport' %}" id="transport_edit">Transport</a>: <span id="transport_stats"></span>  &nbsp&nbsp  
        <a href="{% url 'edit' 'fun' %}" id="fun_edit">Fun</a>: <span id="fun_stats"></span>
    </h5>
    <br>

    {% if user.is_authenticated %}
        <div class="container" id="expenses_input">
            <div class="row">
                <div class="col-sm">
                    <div>
                        <h5>Food</h5>
                        <form>
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="number" step="0.01" min="0.01" id="food_expense" placeholder="Add your expense" required>
                                <input type="text" id="food_date" hidden>
                            </div>
                            <input class="btn btn-primary btn-sm" onclick="addExpense(document.getElementById('food_expense').value, document.getElementById('food_date').value, 'food')" type="button" value="Add">
                        </form>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        <h5>Bills</h5>
                        <form action="{% url 'index' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="number" step="0.01" min="0.01" id="bills_expense" placeholder="Add your expense" required>
                                <input type="text" id="bill_date" hidden>
                            </div>
                            <input class="btn btn-primary btn-sm" onclick="addExpense(document.getElementById('bills_expense').value, document.getElementById('bill_date').value, 'bills')" type="button" value="Add">
                        </form>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm">
                    <div>
                        <h5>Transport</h5>
                        <form action="{% url 'index' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="number" step="0.01" min="0.01" id="transport_expense" placeholder="Add your expense" required>
                                <input type="text" id="transport_date" hidden>
                            </div>
                            <input class="btn btn-primary btn-sm" onclick="addExpense(document.getElementById('transport_expense').value, document.getElementById('transport_date').value, 'transport')" type="button" value="Add">
                        </form>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        <h5>Fun</h5>
                        <form action="{% url 'index' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="number" step="0.01" min="0.01" id="fun_expense" placeholder="Add your expense" required>
                                <input type="text" id="fun_date" hidden>
                            </div>
                            <input class="btn btn-primary btn-sm" onclick="addExpense(document.getElementById('fun_expense').value, document.getElementById('fun_date').value, 'fun')" type="button" value="Add">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <h2 class="centered">Login or Register to keep track of your expenses</h2>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'budget/index.js' %}"></script>
{% endblock %}