{% extends "budget/layout.html" %}
{% load static %}

{% block body %}
    <h2 id="local_date" style="text-align: center;"></h2>
    <br>
    <h5 style="text-align: center;">
        <a href="{% url 'edit' 'food' %}" id="food_edit">Food</a>: <span id="food_stats"></span>%  &nbsp&nbsp  
        <a href="{% url 'edit' 'bills' %}" id="bills_edit">Bills</a>: <span id="bills_stats"></span>%  &nbsp&nbsp  
        <a href="{% url 'edit' 'transport' %}" id="transport_edit">Transport</a>: <span id="transport_stats"></span>%  &nbsp&nbsp  
        <a href="{% url 'edit' 'fun' %}" id="fun_edit">Fun</a>: <span id="fun_stats"></span>%
    </h5>
    <br>

    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div>
                        <h5>Food</h5>
                        <form action="{% url 'index' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="number" step="0.01" min="0.01" name="food_expense" placeholder="Add your expense" required>
                                <input type="text" id="food_date" name="food_date" hidden>
                            </div>
                            <input class="btn btn-primary" type="submit" value="Add">
                        </form>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        <h5>Bills</h5>
                        <form action="{% url 'index' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="number" step="0.01" min="0.01" name="bills_expense" placeholder="Add your expense" required>
                                <input type="text" id="bill_date" name="bill_date" hidden>
                            </div>
                            <input class="btn btn-primary" type="submit" value="Add">
                        </form>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-sm">
                    <div>
                        <h5>Transport</h5>
                        <form action="{% url 'index' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="number" step="0.01" min="0.01" name="transport_expense" placeholder="Add your expense" required>
                                <input type="text" id="transport_date" name="transport_date" hidden>
                            </div>
                            <input class="btn btn-primary" type="submit" value="Add">
                        </form>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        <h5>Fun</h5>
                        <form action="{% url 'index' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="number" step="0.01" min="0.01" name="fun_expense" placeholder="Add your expense" required>
                                <input type="text" id="fun_date" name="fun_date" hidden>
                            </div>
                            <input class="btn btn-primary" type="submit" value="Add">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <h2 style="text-align: center;">Login or Register to keep track of your expenses</h2>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'budget/index.js' %}"></script>
{% endblock %}